PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/os_service?schema=public
JWT_SECRET=changeme
RABBITMQ_URL=amqp://guest:guest@localhost:5672
NODE_ENV=development
APP_VERSION=1.0.0
